<!-- <app-header></app-header> -->

<div class="content-wrapper  header-gap">
  <!-- Main content -->
  <div class="content">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-bd lobidrag">
          <div class="panel-body">
            <br />
            <br />
            <div class="border">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-1">
                  <label for="exampleInputName2">Car Model</label>
                </div>
                <div class="col-md-1">
                  <label for="exampleInputName2">:</label>
                </div>
                <div class="col-md-3">
                  <label for="exampleInputName2">{{
                    stoDetails.car_model
                  }}</label>
                </div>
                <div class="col-md-1">
                  <label for="exampleInputName2">FS Code</label>
                </div>
                <div class="col-md-1">
                  <label for="exampleInputName2">:</label>
                </div>
                <div class="col-md-3">
                  <label for="exampleInputName2">{{ stoDetails.fsc }}</label>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-1">
                  <label for="exampleInputName2">FSC Name</label>
                </div>
                <div class="col-md-1">
                  <label for="exampleInputName2">:</label>
                </div>
                <div class="col-md-3">
                  <label for="exampleInputName2">{{
                    stoDetails.fsc_name
                  }}</label>
                </div>
                <div class="col-md-1">
                  <label for="exampleInputName2">Ext. Color</label>
                </div>
                <div class="col-md-1">
                  <label for="exampleInputName2">:</label>
                </div>
                <div class="col-md-3">
                  <label for="exampleInputName2">{{
                    stoDetails.ext_color
                  }}</label>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-1">
                  <label for="exampleInputName2">Int. Color</label>
                </div>
                <div class="col-md-1">
                  <label for="exampleInputName2">:</label>
                </div>
                <div class="col-md-3">
                  <label for="exampleInputName2">{{
                    stoDetails.int_color
                  }}</label>
                </div>
                <div class="col-md-1">
                  <label for="exampleInputName2">VIN No</label>
                </div>
                <div class="col-md-1">
                  <label for="exampleInputName2">:</label>
                </div>
                <div class="col-md-3">
                  <label for="exampleInputName2">{{
                    stoDetails.vin_num
                  }}</label>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-1">
                  <label for="exampleInputName2">STO Date</label>
                </div>
                <div class="col-md-1">
                  <label for="exampleInputName2">:</label>
                </div>
                <div class="col-md-3">
                  <label for="exampleInputName2">{{
                    stoDetails.sto_date
                  }}</label>
                </div>
                <div class="col-md-1">
                  <label for="exampleInputName2">STO Value</label>
                </div>
                <div class="col-md-1">
                  <label for="exampleInputName2">:</label>
                </div>
                <div class="col-md-3">
                  <label for="exampleInputName2">{{
                    stoDetails.sto_value
                  }}</label>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-1">
                  <label for="exampleInputName2">Document Nuumber</label>
                </div>
                <div class="col-md-1">
                  <label for="exampleInputName2">:</label>
                </div>
                <div class="col-md-3">
                  <label for="exampleInputName2">{{ stoDetails.odn }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
