th {
  cursor: pointer;
}
h1 {
  text-align: center;
  color: skyblue;
}
.align-right {
  float: right;
}

.routeIcon {
  margin: 5px;
}

.pointer {
  cursor: pointer;
}

.red-color {
  color: red;
}
.blue-color {
  color: blue;
}
